.container
  p
    | Aliims v0.0.1
    = ' | '
    em Powered by WEB tech and MED love
    = ' | '
    a(href='https://github.com/aliims/aliims') Sources
    = ' | '
    em 
      a(href='https://github.com/aliims/aliims/issues?state=open') Issues